<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="card about-card">

          <h1 class="about-title text-center">{{'about.title' | translate}}</h1>

          <div>
            <p class="about-paragraph">{{'about.p1' | translate}}</p>
            <br />
            <p class="about-paragraph">{{'about.p2' | translate}}</p>
            <br />
            <p class="about-paragraph">{{'about.p3' | translate}}</p>
            <br />
            <p class="about-paragraph">{{'about.p4' | translate}}</p>
            <br />
            <p class="about-paragraph">{{'about.p5' | translate}}</p>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 img-right">
        <div class="pic-me"></div>
      </div>
    </div>
  </div>
</section>
