<section class="about" id="about">
  <div class="container">
    <div class="row">

      <!-- ARRUMA ESSE LAYOUT PELO AMOR DE DEUS QUE VERGONHA -->

      <!-- ADICIONAR IMAGENS DE FUNDO INTERCALADAS NOS COMPONENTES -->

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="about-title text-center">Quem sou eu?</h1>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        <div>
          <p class="about-paragraph">Olá, meu nome é Savini Roza, tenho 20 anos, moro em Sorocaba-SP sou desenvolvedora web com 2 anos de experiência, sou focada no Front-End e tenho também uma inclinação para o Marketing, Design e Ilustração de personagens.</p>
          <br />
          <p class="about-paragraph">Sou gamer, particularmente gosto de JRPGs, jogos de ritmo e dramas interativos. Também gosto de cozinhar, principalmente fazer doces. Além disso eu amo viajar, destinos montanhosos são os meus favoritos, adoro conhecer novos lugares, experimentar coisas novas, fazer trilhas, fazer compras, e claro, chorar em uma atração radical de algum parque de diversões e querer ir de novo.</p>
          <br />
          <p class="about-paragraph">Comecei a estudar a área de tecnologia aos 14 anos, quando iniciei o curso técnico de Informática para Internet na Etec Prof. Elias Miguel Júnior, em Votorantim, onde fui introduzida à Lógica de Programação e ao Desenvolvimento Web, me formei em 2017, e em 2018 comecei a cursar Análise e Desenvolvimento de Sistemas na Fatec de Sorocaba.</p>
          <br />
          <p class="about-paragraph">Na metade de 2018 consegui um estágio no Melhor Escola, onde trabalhei como SiteOps, eu fazia cadastros de escolas e atualizava suas informações na plataforma, 1 ano depois, passei a estagiar na área de desenvolvimento, foi quando aprendi a fazer Landing Pages usando o básico do Front-End, e também fui introduzida a outras ferramentas como o Git, Laravel, e Wordpress</p>
          <br />
          <p class="about-paragraph">No começo de 2020 iniciei uma nova jornada na Tecnologia Única, e atualmente trabalho lá como Desenvolvedora Web Júnior, onde tive um contato mais profundo com a arquitetura MVC usando ASP.NET, aprendi a usar o Razor e o Angular, além disso aprendi a utilizar ferramentas de automação de Marketing, como o RD Station, ali para mim é um ambiente de constante aprendizado, e a expectativa é de crescer cada vez mais na área.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 img-right">
        <div class="pic-me"></div>
      </div>
    </div>
  </div>
</section>
