.skills {
    background-image: url('../../assets/img/bg1.jpg');
    background-attachment: fixed;
    margin-top: 200px;
    height: 65em;
}

.custom-container {
  background-color: #1e1e1e;
  padding: 100px;
}

.skills-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.skills-paragraph {
    font-size: 16px;
    text-align: center;
}

.skills-progress {
    background-color: #c43280;
}
