.skills {
    margin-top: 200px;
}

.skills-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.skills-paragraph {
    font-size: 16px;
    text-align: center;
}

.skills-progress {
    background-color: #c43280;
}
