<nav class="navbar custom-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#"><img class="logo" src="assets/img/logo.png" /></a>
    </div>
    <div class="collapse navbar-collapse" id="menu">


      <ul class="nav navbar-nav navbar-right">
        <li class="menu-btn"><a href="#about">{{'header.about' | translate}}</a></li>
        <li class="menu-btn"><a href="#skills">{{'header.skills' | translate}}</a></li>
        <li class="menu-btn"><a href="#portfolio">{{'header.portfolio' | translate}}</a></li>
        <li class="menu-btn"><a href="#contact">{{'header.contact' | translate}}</a></li>
        <li class="language" *ngIf="isPortuguese"><a><img (click)="English()" class="btn-change-language" src="assets/img/english.png" /></a></li>
        <li class="language" *ngIf="isEnglish"><a><img (click)="Portuguese()" class="btn-change-language" src="assets/img/portuguese.png" /></a></li>
      </ul>
    </div>
  </div>
</nav>

