<nav class="navbar custom-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#"><img class="logo" src="../../assets/img/logo.png" /></a>
    </div>
    <div class="collapse navbar-collapse" id="menu">


      <ul class="nav navbar-nav navbar-right" *ngIf="Portuguese">
        <li class="menu-btn"><a href="#about">Sobre</a></li>
        <li class="menu-btn"><a href="#skills">Conhecimento</a></li>
        <li class="menu-btn"><a href="#portfolio">Portfólio</a></li>
        <li class="menu-btn"><a href="#contact">Contato</a></li>
        <li class="language" *ngIf="Portuguese"><a (click)="ToEnglish()"><img class="btn-change-language" src="../../assets/img/english.png" /></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="English">
        <li class="menu-btn"><a href="#about">About</a></li>
        <li class="menu-btn"><a href="#skills">Skills</a></li>
        <li class="menu-btn"><a href="#portfolio">Portfolio</a></li>
        <li class="menu-btn"><a href="#contact">Contact</a></li>
        <li class="language" *ngIf="English"><a a (click)="ToPortuguese()"><img class="btn-change-language" src="../../assets/img/portuguese.png" /></a></li>
      </ul>
    </div>
  </div>
</nav>

