<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row">

      <!--TÁ FEIO -->

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="portfolio-title text-center">{{'portfolio.title' | translate}}</h1>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="portfolio-paragraph">{{'portfolio.p1' | translate}}</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h2>Melhor Escola: Mais Alunos (2019)</h2>
            <a href="https://www.melhorescola.com.br/mais-alunos" target="_blank"><img class="thumb-portfolio" src="assets/img/maisalunos.png" /></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h2>IR Sem Erro (2020)</h2>
            <a href="https://www.irsemerro.com.br/" target="_blank"><img class="thumb-portfolio" src="assets/img/irsemerro.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
