.portfolio {
    margin-top: 200px;
    margin-bottom: 200px;
}

.thumb-portfolio {
    width: 100%;
}

.portfolio-title {
  font-size: 40px;
  margin-bottom: 50px;
}

.portfolio-paragraph {
  font-size: 16px;
  text-align: center;
  margin-bottom: 100px;
}

