.first-page {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/img/start-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-position: 50% 50%;
  padding-top: 30vh;
  position: relative;
  width: 100%;
}
