<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="contact-title">Gostou do que viu? Entre em contato!!</h1>
      </div>
      <form>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

          <!-- O FORMULÁRIO NÃO FUNCIONA AINDA, IMPLEMENTAR FUNCIONALIDADE -->

          <input type="text" class="form-control input-contact" placeholder="Nome" required />
          <input type="email" class="form-control input-contact" placeholder="Email" required />
          <textarea class="form-control input-contact" placeholder="Deixe sua mensagem aqui! :)" required></textarea>
          <button class="btn btn-send">Enviar</button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="keep-in-touch">
          <h2>Não vamos parar por aí não!</h2>
          <p>Aqui estão as minhas redes sociais, sinta-se à vontade para me seguir e manter em contato</p>
          <div class="social-list">
            <div class="row contact-social-row">
              <img class="contact-img" src="assets/img/ig.png" />
              <a class="contact-link" href="https://www.instagram.com/savs.css/" target="_blank">@savs.css</a>
            </div>
            <div class="row contact-social-row">
              <img class="contact-img" src="assets/img/lin.png" />
              <a class="contact-link" href="https://www.linkedin.com/in/savini-r-991bb2111" target="_blank">Savini Roza</a>
            </div>
            <div class="row contact-social-row">
              <img class="contact-img" src="assets/img/gh.png" />
              <a class="contact-link" href="https://github.com/savini-roza" target="_blank">savini-roza</a>
            </div>
            <div class="row contact-social-row">
              <img class="contact-img" src="assets/img/ff.png" />
              <a class="contact-link" href="https://na.finalfantasyxiv.com/lodestone/character/31129564/" target="_blank">Jolie Schadenfreude @Behemoth</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
